    {{>header}}
    <div class="container mt-5">
    <h3>Registration</h3>
    <form action="/regis" method="post" >
    {{#if succs}}
    <div class="alert alert-info">{{succs}}</div>
    {{/if}}
    
    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}

            <div class="mt-3">
            <input type="name" id="name" name="name" placeholder="Your Name" />
             {{#if nameErr}}
                <p class="text-danger">{{nameErr}}</p>
                {{/if}}
            </div>

            <div class="mt-3">
            <input type="email" id="email" name="email" placeholder="Email Address"/>
            {{#if emailErr}}
                <p class="text-danger">{{emailErr}}</p>
            {{/if}}
            </div>

            <div class="mt-3">
            <input type="password" id="password" name="password" placeholder="Password"/>
            {{#if passErr}}
            <p class="text-danger">{{passErr}}</p>
            {{/if}}
            </div> 

            <div class="mt-3">
            <input type="number" id="mobile" name="mobile" placeholder="mobile number"/>
            {{#if mobileErr}}
            <p class="text-danger">{{mobileErr}}</p>
            {{/if}}
            </div> 

            <div class="mt-3">
            <input type="text" id="address" name="address" placeholder="Your address" />
             {{#if addressErr}}
                <p class="text-danger">{{addressErr}}</p>
                {{/if}}
            </div>

            <div class="mt-3">
            <input type="submit" value="Register">
            </div>
        </form>
